@import '../../../styles/utils';

.container {
    padding: 61px 0 0px 0;

    @include Mobile {
        padding-top: 48px;
    }

    .container_header {
        max-width: 1920px;
        margin: 0 auto;

        padding: 0 277px 61px 96px;
        display: flex;
        justify-content: flex-end;

        @include SmallScreen {
            padding: 0 96px 61px 0;
        }

        @media (max-width: 1024px) {
            padding: 0 96px 61px 96px;
            justify-content: flex-start;
        }

        @include Tablet {
            padding: 0 24px 61px 24px;
            max-width: 100%;
        }

        @include Mobile {
            padding: 0 24px 48px 24px;
        }

    

        p {
            max-width: 848px;

                @include SmallScreen {
                    max-width: 780px;
                 }

                 @include Tablet {
                    max-width: 100%;
                 }
            
            @include font-responsive(17px, 20px, 150%);

            font-style: normal;
            font-weight: 400;

            color: $color-neutral-low-dark;
        }
    }
}
