@import '../../../styles/utils';

#header {
    width: 48px;
    padding-top: 20px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    animation: slideInAnimation 700ms ease-out 200ms forwards;
    z-index: 999;

    box-shadow: 2px 0 70px rgb(0 0 0 / 20%);

    .header_content {
        position: relative;
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 25px;
        

        > span {
            color: $color-neutral-low-dark;

            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 21px */
            letter-spacing: 1px;
            text-transform: uppercase;

            transform: rotate(-90deg);
        }
    }
}

.header_content__open {
    border-right: 1px solid #bfbfbf;
    height: 100vh;
}

.hidden {
    display: none;
}

.solutions_window {
    background-color: $color-neutral-high-light;
    height: 100vh;
    z-index: 999;

    .solutions_window__content {
      height: 100%;
    }
  
}


.menu_container {
    position: fixed;
    top: 0;
    left: 47px;
    width: 0;
    height: 100%;
    background-color: white;
    z-index: 998;

    padding: 80px 0 0 48px;


    .menu_content {
      width: 100%;
      height: 100%;

      display: flex;
      flex-direction: column;
      justify-content: space-between;


    .menu_content__body {
        ul {
            display: flex;
            flex-direction: column;
            gap: 32px;

            li {

              cursor: pointer;

                span {
                    color: $color-neutral-low-dark;

                    font-size: 46px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 150%; /* 69px */

                    white-space: nowrap;

                    display: flex;
                    align-items: center;
                    gap: 12px;

                    button {
                        width: 32px;
                        height: 32px;
                        border-radius: 100%;
                        border: 1px solid #bfbfbf;

                        display: flex;
                        align-items: center;
                        justify-content: center;

                        margin-top: 5px;

                        transition: all 0.5s ease;

                        &.menu_content__body__button__open {
                            background-color: $color-neutral-low-pure;
                            transition: all 0.5s ease-in-out;

                            svg {
                                path {
                                    stroke: $color-neutral-high-pure;
                                }
                            }
                        }

                        &.menu_content__body__button__close {
                            transform: rotate(0deg);
                        }
                    }
                }

                a {
                    text-decoration: none;
                    color: $color-neutral-low-dark;
                }
            }
        }

        .submenu_experience_mekal {
            ul {
                gap: 16px;
                margin-top: 32px;

                li {

                    color: $color-neutral-low-dark;

                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 120%;

                }
            }
        }
    }

    .menu_content__footer {

      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 36px;

      > div {
        display: flex;
        flex-direction: column;

        span {
          font-size: 15px;
          font-style: normal;
          font-weight: 400;
          line-height: 125%;
        }

       span:nth-child(1) {
          color: $color-neutral-low-pure;

          @include Tablet {
              margin-top: 48px;
          }
      }

       span:nth-child(2) {
        color: $color-neutral-low-dark;
        white-space: nowrap;
      }  

       
    }

      .menu_content__footer__icons {
        display: flex;
        align-items: center;
        margin-right: 48px;
        gap: 24px;
        li {
          svg {
            path {
              fill: $color-neutral-low-dark;
            }
          }

        }

        > li:nth-child(3) {
          svg {
            path {
              stroke: #5D5F61;
              fill: transparent;
            }
          }
        }
      }
    }

    }

    
}
