@import '../../../styles/utils';

.container_tabs {
    width: 100%;
    background-color: $color-neutral-high-light;
    padding: 36px 0 36px 36px;

    display: flex;
    align-items: center;
}

.tabs {

    padding: 16px 24px ;

    span {
        font-size: 14px;
        font-weight: 700;
        line-height: 150%;
        letter-spacing: 1px;
        text-transform: uppercase; 
    }

}

.active {
    background-color: $color-neutral-low-pure;
    border-radius: 2px;

    span {
        color: $color-neutral-high-light;
    }
}

.tabs__title {
    font-size: 18px;
    font-weight: 600;
    line-height: 150%;
    color: $color-neutral-low-pure;
    padding-right: 78px;
}

.tabs__content {
    display: flex;
    gap: 12px;

    a {
        text-decoration: none;
        color: $color-neutral-low-dark;
    }
}

.container_products__content {

    display: flex;
    align-items: center;

    > ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 3fr));
        gap: 40px;
        width: 100%;
    }
    
}