@import '../../../../styles/utils';

.container_content_box {
    > span {
        color: $color-neutral-low-pure;

        @include font-responsive(18px, 26px, 120%);

        font-style: normal;
        font-weight: 600;

        padding-bottom: 31px;
        display: block;
    }

    .content_box__header {
        border-top: 1px solid #bfbfbf;
        padding-top: 80px;
        margin-bottom: 103px;

        @include Mobile {
            padding-top: 32px;
            margin-bottom: 80px;
        }

        h1 {
            max-width: 1082px;

            color: $color-neutral-low-pure;

            @include font-responsive(26px, 72px, 120%);

            font-style: normal;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }

    .content_box__body {

        display: flex;
        flex-direction: column;
        align-items: center;

        max-width: 851px;
        margin: 0 auto;
        margin-bottom: 29px;

        p {

            max-width: 851px;

            color: $color-neutral-low-dark;

            @include font-responsive(15px, 20px, 150%);

            font-style: normal;
            font-weight: 400;
            
            margin-bottom: 30px;
            margin-left: 16px;

            @media (max-width: 1024px) {
                margin-left: 0;
            }
        }

        @media (max-width: 1024px) {
            max-width: 100%;
            margin: 0;
            align-items: flex-start;
        }

        .content_box__body__buttons {
            display: flex;
            gap: 24px;

            width: 100%;

            margin-left: 34px;
            margin-bottom: 120px;
            margin-top: 16px;

            button {
                padding: 16px 24px;
            }

            @include Tablet {
                margin-left: 0;
            }

            @include Mobile {
                flex-direction: column;
                margin-bottom: 80px;

                button {
                   width: fit-content;
                }
            }
        }

        .paragraphs_content_box {
            margin-left: 16px;

            h2 {

                @include font-responsive(26px, 42px, 130%);

                margin-bottom: 47px;
                font-style: normal;
                font-weight: 600;
                letter-spacing: 2px;
            }

            p {
                margin-left: 0;
            }
        }
    }

    
}
