@import '../../../../styles/utils';



.container {
    padding: 80px 48px 0px 96px;
    background-color: $color-neutral-high-pure;


    @include Tablet {
        padding: 80px 24px 0px 24px;
    }

    @include Mobile {
        padding: 67px 24px 0px 24px;
    }

}


