@import '../../../styles/utils';

.container {
    padding: 0px 48px 0px 96px;

    @include Tablet {
        padding: 0px 24px 0px 24px;
    }
}

.container_text {
    max-width: 851px;

    margin: 0 auto;
    padding: 200px 0 0px 0;

    @include Tablet {
        padding: 80px 0px 0px 0px;
    }

    @include Mobile {
        padding: 0;
    }

    h2 {
        color: $color-neutral-low-pure;

        @include font-responsive(26px, 42px, 130%);

        font-style: normal;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;

        margin-bottom: 48px;

        padding-right: 250px;

        @include Mobile {
            padding-right: 0px;
        }
    }

    h4 {
        color: $color-neutral-low-pure;

        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;

        margin-bottom: 32px;
    }

    p {
        color: $color-neutral-low-dark;

        @include font-responsive(15px, 20px, 150%);

        font-style: normal;
        font-weight: 400;

        margin-bottom: 80px;
    }
}
