
.swiper-button-next-accessories,
.swiper-button-prev-accessories {
  
 position: relative;

 }

.swiper-button-next-accessories button,
.swiper-button-prev-accessories button
{
    width: 80px;
    height: 80px;
    position: absolute;
    border: 1px solid #BFBFBF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease-in-out;
}

.swiper-button-next-accessories button:hover,
.swiper-button-prev-accessories button:hover
{
    background-color: #282828;
    

}

.swiper-button-next-accessories button:hover svg path,
.swiper-button-prev-accessories button:hover svg path
{
    stroke: #fff;
}

@media (max-width: 1024px) {
    .swiper-button-prev-accessories button,
    .swiper-button-next-accessories button
    {
        width: 60px;
        height: 60px;
    }

    .swiper-button-prev-accessories svg,
    .swiper-button-next-accessories svg {
        width: 24px;
        height: 24px;
    }
}



.swiper-button-next-accessories svg,
.swiper-button-prev-accessories svg {
    width: 32px;
    height: 32px;
} 

