@import '../../../../styles/_utils/';

.container_header_product {
    display: flex;
    
    max-height: 1042px;
    position: relative; 

    overflow: hidden;

    @include Tablet {
        max-height: 100%;
        padding-top: 48px;
        padding-bottom: 80px;
    }

}

.container_header_product::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to top, rgba(191,191,191, 0.3) 0%, transparent 100%);
    z-index: 999;
}

.container_slide_product__mobile {
    margin-bottom: 48px;

    @media (min-width: 951px) {
        display: none;
    }
    
    @include Mobile {
        height: 438px;
    }

}



.cotainer_description_product {
    padding: 128px 82px 0px 96px;
    width: 65%;

    @include Tablet {
        padding: 65px 32px 0px 32px;
        width: 100%;
    }

    @include Mobile {
        padding: 0;
    }

    > div:nth-child(1) {
        margin-bottom: 183px;

        @include Tablet {
            margin-bottom: 48px;
        }

        @include Mobile {
            padding: 48px 24px 0px 24px;
        }

        span {
            font-size: 18px;
            font-style: normal;
            font-weight: 600;
            line-height: 150%;

            margin-bottom: 24px;

            display: block;

            color: $color-neutral-low-pure;
        }

        h1 {

            @include font-responsive(34px, 72px, 120%);

            font-style: normal;
            font-weight: 600;
            letter-spacing: 2px;
            text-transform: uppercase;

            margin-bottom: 24px;

            color: $color-neutral-low-pure;
        }

        p {
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;

            color: var(--brand-neutral-color-neutral-low-dark, #5d5f61);
        }
    }

    div:last-child {
        > button {
            margin-bottom: 24px;

            font-size: 14px;
            font-style: normal;
            font-weight: 700;
            line-height: 150%; /* 21px */
            letter-spacing: 1px;
            text-transform: uppercase;

            display: flex;
            align-items: center;
            gap: 4px;

            svg {
                path {
                    stroke: #000;
                }
            }
        }

        ul {

            margin-bottom: 32px;

            li {
                display: flex;
                align-items: center;
                gap: 4px;
                margin-bottom: 8px;

                color: var(--brand-neutral-color-neutral-low-pure, #282828);
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 125%;
                max-width: 430px;

                span {
                    color: var(--brand-neutral-color-neutral-low-dark, #5d5f61);

                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 125%;

                    white-space: nowrap;
                }
            }
        }
    }
}

.container_infos {
    @include Mobile {
        padding: 0 24px;
    }
}

.container_slide_product {
    position: relative;

    width: 45%;

    @include Tablet {
        display: none;
    }
}

