@import '../../../../styles/utils';

.container_card__slide {
    .container_card__slide__year {

        @include font-responsive(42px, 72px, 120%);
        font-style: normal;
        font-weight: 600;
        letter-spacing: 2px;

        color: $color-neutral-low-light;

        @media (max-width: 768px) {
            display: none;
        }
    }

    > div {
        display: flex;
        gap: 78px;

        @media (max-width: 1276px) {
            gap: 50px;
        }
    }

    .container_card__slide__info {

        @media (max-width: 768px) {
            flex-direction: column-reverse;
            margin-bottom: 32px;
            align-items: center;
        }

        .container_card__slide__image {
            position: relative;
            max-width: 848px;
            height: 440px;
            width: 100%;


            @include SmallScreen {
                max-width: 648px;
            }

            @media (max-width: 1276px) {
                max-width: 450px;
                height: 330px;
            }

            @include Tablet {
                max-width: 300px;
                height: 250px;
            }

            @media (max-width: 768px) {
                max-width: 100%;
                height: 266px;
            }
        }

        .container_card__slide__info__description {

            display: flex;
            flex-direction: column;
            align-self: end;

            @media (max-width: 768px) {
                align-self: center;
            }
            

            p {

                @include font-responsive(15px, 17px, 130%);

                color: $color-neutral-low-dark;
                max-width: 384px;
                height: auto;
    
                font-style: normal;
                font-weight: 400;
                
                margin-bottom: 25px;

                &:last-child {
                    margin-bottom: 0;
                }

                @media (max-width: 768px) {
                    max-width: 100%;
                }

            }

            
        }

       
    }

    .container_card__slide__year__mobile {

        @include font-responsive(42px, 72px, 120%);
        font-style: normal;
        font-weight: 600;
        letter-spacing: 2px;
        text-align: center;

        color: $color-neutral-low-light;

        @media (min-width: 768px) {
            display: none;
        }
    }
}
