@import '../../../styles/utils';

.container_language_menu {

    padding-left: 21px;

    .language_menu {
        position: absolute;
        right: 16px;
        bottom: -1px;
    }
    
    .language_menu__button {
        font-size: 18px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        color: $color-neutral-high-pure;
    }

    .language_menu__content {
        background-color: $color-neutral-low-pure;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        button {
            display: flex;
            align-items: center;
            gap: 24px;
            padding: 12px 16px 12px 16px;
            width: 100%;

            color: $color-neutral-high-light;

            span:nth-child(1) {
                font-size: 14px;
                font-style: normal;
                font-weight: 700;
                line-height: 150%; /* 21px */
                letter-spacing: 1px;
                text-transform: uppercase;
            }

            span:nth-child(2) {
                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 125%;
            }

            &.active {
                background-color: $color-neutral-high-pure;
                color: $color-neutral-low-pure;

                span:nth-child(1) {
                    color: $color-neutral-low-dark;
                }

                span:nth-child(2) {
                    color: #000;
                }
            }
        }

    }
}
