@import '../../../../styles/utils';

.card_artist_design {
    gap: 80px;
    max-width: 1076px;
    width: 100%;

    @include SmallScreen {
        max-width: 900px;
    }

    @media (max-width: 1280px) {
        gap: 40px;
        max-width: 600px;
    }

    @include Tablet {
       max-width: 900px;
       margin-top: 50px;
    }

}

.card_artist_design__image {
    display: flex;
    align-items: center;
    gap: 80px;

    margin-bottom: 80px;

    @include SmallScreen {

        gap: 40px;
        
        img {
            width: 340px !important;
            height: 304px !important;
            max-width: 340px !important;
            max-height: 304px !important;
        }
    }

    @media (max-width: 1280px) {

        flex-direction: column;
        align-items: flex-start;

        img {
            width: 300px !important;
            height: 264px !important;
            max-width: 300px !important;
            max-height: 264px !important;
        }
    }

    @include Tablet {
       align-items: center;

       img {
        width: 100% !important;
        height: 100% !important;
        max-width: 326px !important;
        max-height: 2964px !important; 
       }
    }


    h1 {
        color: $color-neutral-low-pure;

        @include font-responsive(28px, 72px, 120%);

        font-style: normal;
        font-weight: 600; 
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    p {
        color: $color-neutral-low-dark;

        @include font-responsive(15px, 17px, 130%);

        font-style: normal;
        font-weight: 400;
    }
}

.card_artist_design__content {
    max-width: 616px;
    margin-left: auto;

    margin-bottom: 128px;

    @include SmallScreen {
      max-width: 516px;
    }

    @media (max-width: 1280px) {
        margin-left: 0;
    }

    @include Tablet {
        margin: 0 auto;
        max-width: 100%;
    }
    
}
