
.swiper-button-next-the_journey,
.swiper-button-prev-the_journey {
  
 position: relative;

 }

.swiper-button-next-the_journey button,
.swiper-button-prev-the_journey button
{
    width: 80px;
    height: 80px;
    border: 1px solid #BFBFBF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
    transition: all 0.5s ease-in-out;
}

.swiper-button-next-the_journey button:hover,
.swiper-button-prev-the_journey button:hover {
    background-color: #282828;
}

.swiper-button-next-the_journey button:hover svg path,
.swiper-button-prev-the_journey button:hover svg path{
    stroke: #fff;
}


.swiper-button-next-the_journey svg,
.swiper-button-prev-the_journey svg {
    width: 32px;
    height: 32px;
} 

.swiperSlideTheJourney {
    max-width: 1310px;
}

@media (max-width: 950px) {
    .swiper-button-next-the_journey button,
    .swiper-button-prev-the_journey button
    {
        width: 60px;
        height: 60px;
    }

    .swiper-button-next-the_journey svg,
    .swiper-button-prev-the_journey svg {
        width: 24px;
        height: 24px;
    }
}

@media (max-width: 768px) {
    .swiperSlideTheJourney {
        max-width: 500px;
    }
}

