
.swiper-button-next-the_journey,
.swiper-button-prev-the_journey {
  
 position: relative;

 }

.swiper-button-next-the_journey button,
.swiper-button-prev-the_journey button
{
    width: 80px;
    height: 80px;
    border: 1px solid #BFBFBF;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center; 
  
}

.swiper-button-next-the_journey svg,
.swiper-button-prev-the_journey svg {
    width: 32px;
    height: 32px;
} 

.swiper-slide {
    max-width: 1310px;
}

