@import '../../../../styles/utils';

.container_card__slide {
    background-color: $color-neutral-high-light;

    max-width: 848px;
    min-height: 386px;

    display: flex;
    justify-content: space-between;

    padding: 24px;

    @include Mobile {
        flex-direction: column-reverse;
        max-height: 606px;
    }

    .container_card__slide__info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        border-right: 1px solid #bfbfbf;

        width: 50%;

        @include Mobile {
            width: 100%;
            border-right: none;
            border-top: 1px solid #bfbfbf;
            padding-top: 24px;
        }

        .container_card__slide__info__title {

            @include Mobile {
                margin-bottom: 128px;
            }

            h5 {
                color: $color-neutral-low-pure;

                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 120%;
            }

            > span {
                color: $color-neutral-low-dark;

                font-size: 15px;
                font-style: normal;
                font-weight: 400;
                line-height: 125%;
            }
        }

        .container_card__slide__info__dimensions {




            .container_card__slide__info__dimensions__item {
                display: flex;
                align-items: center;
                gap: 2px;

                p {
                    color: $color-neutral-low-dark;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 125%;
                }

                span {
                    color: $color-neutral-low-pure;

                    font-family: Mulish;
                    font-size: 15px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 125%;
                }
            }
        }
    }

    .container_card__slide__image {
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            mix-blend-mode: multiply;
        }
    }

    .container_card__slide__info__content {
        p {

            max-width: 153px;

            color: $color-neutral-low-dark;

            font-size: 15px;
            font-style: normal;
            font-weight: 400;
            line-height: 125%;
        }
    }
}
