@import '../../../../styles/utils';

.container {
    padding: 80px 48px 0px 96px;

    @include Tablet {
        padding: 80px 24px 0px 24px;
    }

    @include Mobile {
        padding: 67px 24px 0px 24px;
    }

    max-width: 1920px;
    margin: 0 auto;
}

.container_image {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 48px 0 48px 0;

    border-top: 1px solid #bfbfbf;
    border-bottom: 1px solid #bfbfbf;
}

.container_text {
    max-width: 851px;

    margin: 0 auto;
    padding: 290px 0 120px 0;

    @media (max-width: 1024px) {
        padding: 80px 0px 80px 0px;
    }

    @media (max-width: 950px) {
        margin: 0;
        padding: 80px 24px 80px 24px;
    }

    @include Mobile {
        border-top: 1px solid #bfbfbf;
        padding: 80px 24px 0px 24px;
    }

    h2 {
        color: $color-neutral-low-pure;

        @include font-responsive(26px, 42px, 130%);

        font-style: normal;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;

        margin-bottom: 48px;

        padding-right: 250px;

        @include Mobile {
            padding-right: 0;
        }
    }

    h4 {

        color: $color-neutral-low-pure;

        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;

        margin-bottom: 32px;
    }

    p {
        color: $color-neutral-low-dark;

        @include font-responsive(15px, 20px, 150%);

        font-style: normal;
        font-weight: 400;

        margin-bottom: 80px;
    }
}

.container_text_2 {
    max-width: 851px;

    margin: 0 auto;
    padding: 198px 0 70px 0;

    @media (max-width: 1024px) {
        padding: 80px 0px 80px 0px;
    }

    @media (max-width: 950px) {
        margin: 0;
        padding: 80px 24px 80px 24px;
    }

    @include Mobile {
        border-top: 1px solid #bfbfbf;
        padding: 80px 24px 0px 24px;
    }

    h2 {
        color: $color-neutral-low-pure;

        @include font-responsive(26px, 42px, 130%);

        font-style: normal;
        font-weight: 600;
        letter-spacing: 2px;
        text-transform: uppercase;

        margin-bottom: 48px;

        padding-right: 250px;

        @include Mobile {
            padding-right: 0;
        }
    }

    h4 {

        color: $color-neutral-low-pure;

        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;

        margin-bottom: 32px;
    }

    p {
        color: $color-neutral-low-dark;

        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 150%;

        margin-bottom: 80px;
    }
}

.container_slide {
    @include Tablet {
        padding: 0px 24px 0px 24px;
    }
}
